//import partials
@import "../../Partials/mediaqueries";
@import "../../Partials/colors";

.buttonStyle {
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ui-blue;

    &:hover {
        background-color: $ui-blue;
        color: white;
        cursor: pointer;
    }
}

.borderStyle {
    border: 1px solid $ui-blue;
}

.emptyboard {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    &__message {
        margin: 30px 30px;
    }
}

.dashboard {
    display: flex;
    height: 100%;
    flex-direction: row;
    background-color: $offwhite
}

.sidebar {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 0px;
    overflow: hidden;
    border-right: 1px solid black;
    box-sizing: border-box;
    transition: all 1s ease;
    background-color: white;

    @include tablet {
        width: 200px;
    }

    @include desktop {
        width: 300px;
    }

    &--true {
        width: 200px;
    }

    &__showButton{
        height: 30px;
        margin-top: 20px;
        position: absolute;
        left: 20px;
        transition: all 1s ease;
        &--true{
            left: 220px;
        }

        @include tablet {
            // -webkit-transition-duration: 0s;
            transition-duration: 0s;
            visibility: hidden;
        }
    }
}

.dash {
    &__registerMore {
        @extend .buttonStyle;
        @extend .borderStyle;
        text-align: center;
        height: 40px;
        width: 160px;
        margin: 10px 0;

        @include tablet {
            width: 80%;
        }
    }

    &__registerFirst {
        @extend .buttonStyle;
        @extend .borderStyle;
        text-align: center;
        height: 60px;
        width: 250px;
    }
}