@import "../../Partials/colors";

.unitList {
    &__box {
        width: 100%;
        margin-bottom: 40px;
    }

    &__item{
        width: 100%;
        height: 40px;
        border-top: 1px solid black;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        &--selected {
            background-color: $ui-blue;
            color: white;
        }

        &:last-of-type {
            border-bottom: 1px solid black;
        }

        &:hover, &:active {
            background-color: $offwhite;
            cursor: pointer;
        }
    }
}