
.unitDisplay {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 30px;
        margin-top: 30px;
    }

    &__currentState {
        background-color: green;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &--cool {
            background-color: blue;
        }
    
        &--heat {
            background-color: red;
        }

        &--auto_cool {
            background-color:aqua;
        }

        &--auto_heat {
            background-color:orange;
        }

        &--Auto_standby {
            background-color:green;
        }

        &--off {
            background-color:gray;
        }
    }

    &__content {
        width: 70%;
    }
}

