//import partials
@import "../../Partials/mediaqueries";
@import "../../Partials/colors";

.buttonStyle {
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    color: $ui-blue;

    &:hover, &:active {
        background-color: $ui-blue;
        color: white;
        cursor: pointer;
    }
}

.borderStyle {
    border: 1px solid $ui-blue;
}

.unitDisplay {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        color: $ui-blue;

        @include tablet {
            font-size: 60px;
        }
    }

    &__currentState {
        margin-top: 15px;
        background-color: green;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &--cool {
            background-color: blue;
        }
    
        &--heat {
            background-color: red;
        }

        &--auto_cool {
            background-color:aqua;
        }

        &--auto_heat {
            background-color:orange;
        }

        &--Auto_standby {
            background-color:green;
        }

        &--off {
            background-color:gray;
        }
    }

    &__content {
        width: 100%;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            flex-direction: row;
        }
    }

    &__temperature {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include tablet {
            width: 50%;
        }
    }
}

.thermometer {
    margin-bottom: 30px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 280px;
    width: 100%;

    @include tablet {
        width: 50%;
    }

    &__setTemp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__setTempWidget {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__tempButton {
        @extend .buttonStyle;
        @extend .borderStyle;
        height: 20px;
        width: 20px;
        padding: 0;
        line-height: 10px;
        border-radius: 50%;
        margin: 0 5px;
    }

    &__tempReadout {
        font-weight: bold;
        font-size: 50px;
        color: $ui-blue;
    }

    &__modePicker {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__modeButton {
        @extend .buttonStyle;
        @extend .borderStyle;
    }
}

.toggleButton {
    @extend .buttonStyle;
    @extend .borderStyle;
}

